 
 



/*
 .vda-banner{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-gap: 0;
    height: 200px;
 }

  .vda-banner > div{
    height: auto;
    background: url('./Header.svg');
    background-size: 75%;

    
 }

*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.vda-banner{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 0);
    position: relative;
    grid-gap: 0;
    height: 200px;

    /* I wasn't sure if using a background image was a better option
    
    background-image: url('./Header.svg');
    background-size: cover;
    background-attachment: fixed;
    
    */

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;


}
.vda-banner__swirl .vda-banner__header {
    position: absolute;
    left: 1px;
}

.vda-banner__header{
width: 75%;
position: absolute;
margin-top: 2px;
margin-left: 10px;
color: black;
}

 .vda-banner__mascot{
    position: absolute;
    right: 0px;
    bottom: 0px;    
 }




/* 
.vda-banner{
    position: relative;
}

.vda-banner__mascot{
    position: relative;
    right: 10px;
    bottom: 0;
}
.vda-banner__swirl{
    position: absolute;
    margin-right: 1px;
    z-index: -1
}



.vda-banner__header{
    width: 75%;
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    color: whitesmoke;
}

.vda-banner__text{
    width: 85%;
    position: absolute;
    margin-left: 1px;
    padding: 1rem;
    color: whitesmoke;
}*/